<p>Matricula: {{funcionario.matricula}}</p>
<p *ngIf="isAdm()">Nome do Funcionario: {{funcionario.dadosBasicos?.nome}}</p>

<mat-accordion>

  <mat-expansion-panel hideToggle *ngIf="exibirDadosPessoais()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dados Básicos
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-dados-basicos [funcionario]="funcionario" (funcionarioChange)="attFuncionario($event)"></app-dados-basicos>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dados Funcionais
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-dado-funcional [funcionario]="funcionario" ></app-dado-funcional>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle *ngIf="exibirDadosPessoais()">
      <mat-expansion-panel-header>
        <mat-panel-title>
         Endereço
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-endereco [funcionario]="funcionario"></app-endereco>
    </mat-expansion-panel>

  <mat-expansion-panel hideToggle *ngIf="exibirDadosPessoais()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contato
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-contato [funcionario]="funcionario"></app-contato>
  </mat-expansion-panel>

</mat-accordion>
